body {
    background-color: aqua;
    background-image: url("./background.jpg");
    color: white;
}
.preview {
    display: flex;
    justify-content: space-evenly !important;
    align-items: center;
    flex-direction: row;
    /* margin-right: 3rem; */
}
.info{
    background-color:black;
    color: white;
    /* padding: 10px; */
    border: none;
    outline: none;
    border-radius: 5px;
    word-wrap: break-word;
    overflow: auto;
    /* overflow-y: scroll; */
}
.heading{
    margin-left: 40%;
}
.inf {
    background-color:black;
    color: white;
    /* padding: 10px; */
    border: none;
    outline: none;
    border-radius: 5px;
}